In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("BUNDESBANK-BBK01_WT5511.csv")
dd = pd.read_csv('golds.csv')

In [3]:
data = pd.merge(df, dd)

MergeError: No common columns to perform merge on

In [29]:
df[33:75]

          Date    Value
33  2016-02-29  1234.15
34  2016-02-26  1231.00
35  2016-02-25  1235.40
36  2016-02-24  1232.25
37  2016-02-23  1218.75
38  2016-02-22  1203.65
39  2016-02-19  1221.50
40  2016-02-18  1204.40
41  2016-02-17  1202.40
42  2016-02-16  1212.00
43  2016-02-15  1208.45
44  2016-02-12  1239.50
45  2016-02-11  1223.25
46  2016-02-10  1183.40
47  2016-02-09  1188.90
48  2016-02-08  1173.40
49  2016-02-05  1158.50
50  2016-02-04  1146.25
51  2016-02-03  1130.00
52  2016-02-02  1123.60
53  2016-02-01  1122.00
54  2016-01-29  1112.90
55  2016-01-28  1119.00
56  2016-01-27  1116.50
57  2016-01-26  1114.70
58  2016-01-25  1103.70
59  2016-01-22  1097.65
60  2016-01-21  1096.80
61  2016-01-20  1093.20
62  2016-01-19  1087.00
63  2016-01-18  1090.45
64  2016-01-15  1081.10
65  2016-01-14  1090.75
66  2016-01-13  1081.80
67  2016-01-12  1094.85
68  2016-01-11  1104.70
69  2016-01-08  1097.45
70  2016-01-07  1096.00
71  2016-01-06  1083.85
72  2016-01-05  1078.00
73  2016-01-04  1072.70
74  2015-12-31  1062.25

In [25]:
dd[691:800]

           date    price
691  2016-01-02  18200.0
692  2016-01-04  18250.0
693  2016-01-05  18450.0
694  2016-01-06  18500.0
695  2016-01-07  18900.0
696  2016-01-08  18950.0
697  2016-01-09  18950.0
698  2016-01-11  19000.0
699  2016-01-12  18850.0
700  2016-01-13  18650.0
701  2016-01-14  18800.0
702  2016-01-15  18600.0
703  2016-01-16  18750.0
704  2016-01-18  18800.0
705  2016-01-19  18750.0
706  2016-01-20  18750.0
707  2016-01-21  18900.0
708  2016-01-22  18850.0
709  2016-01-23  18750.0
710  2016-01-25  18750.0
711  2016-01-26  18900.0
712  2016-01-27  19000.0
713  2016-01-28  19000.0
714  2016-01-29  18900.0
715  2016-01-30  18900.0
716  2016-02-01  18950.0
717  2016-02-02  19000.0
718  2016-02-03  19100.0
719  2016-02-04  19250.0
720  2016-02-05  19450.0
..          ...      ...
770  2016-04-05  20500.0
771  2016-04-07  20450.0
772  2016-04-08  20600.0
773  2016-04-09  20600.0
774  2016-04-11  20750.0
775  2016-04-12  20800.0
776  2016-04-16  20550.0
777  2016-04-18  20550.0
778  2016-04-19  20450.0
779  2016-04-20  20700.0
780  2016-04-21  20750.0
781  2016-04-22  20750.0
782  2016-04-23  20500.0
783  2016-04-25  20550.0
784  2016-04-26  20650.0
785  2016-04-27  20700.0
786  2016-04-28  20650.0
787  2016-04-29  21100.0
788  2016-04-30  21300.0
789  2016-05-01  21300.0
790  2016-05-02  21350.0
791  2016-05-03  21350.0
792  2016-05-04  21300.0
793  2016-05-06  21300.0
794  2016-05-07  21350.0
795  2016-05-09  21400.0
796  2016-05-10  21150.0
797  2016-05-11  21200.0
798  2016-05-12  21250.0
799  2016-05-13  21200.0

[109 rows x 2 columns]